@page "/members"
@inject ILibraryService LibraryService
@inject NavigationManager NavigationManager
@using System.Net.Http.Json

<h1>Members</h1>

@if (users == null)
{
    <p>Loading users...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Reader Number</th>
                <th>Birth Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Address</td>
                    <td>@user.ReaderNumber</td>
                    <td>@user.BirthDate.ToShortDateString()</td>
                    <td>
                        <a href="members/@user.ReaderNumber" class="btn btn-primary">View Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a href="members/add" class="btn btn-primary">Add New User</a>
}

@code {
    private List<User>? users;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            users = await LibraryService.GetUsers();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Failed to retrieve users: {ex.Message}");
        }
    }
}